<!-- Error 500 Start -->
<div class="wshipping-content-block" id="maincontent">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="error-section">
          <h2>Internal Server Error</h2>
          <a href="/" class="wshipping-button cta-btn">Back to Home</a> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Error 500 end -->
