<footer class="site-footer">
  <!-- Footer Top start -->
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-wiz">
            <p>CPBL.... Excellence with a Difference.</p>
            <ul class="footer-contact">
              <li><i class="fa fa-phone"></i>+233 (0)322 496 721</li>
              <li><i class="fa fa-phone"></i>+233 (0)501 368 054</li>
              <li><i class="fa fa-phone"></i>+233 (0)247 326 464</li>
              <li><i class="fa fa-envelope"></i> covpressgh@gmail.com</li>
            </ul>
          </div>
          <div class="top-social bottom-social"> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-wiz footer-menu">
            <h3 class="footer-wiz-title">Quick Links</h3>
            <ul>
              <li><a href="/">Company Overview</a></li>
              <li><a href="/services">Our Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-wiz footer-menu">
            <h3 class="footer-wiz-title">Useful Links</h3>
            <ul>
              <li><a href="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-wiz">
            <h3 class="footer-wiz-title">Opening Hours</h3>
            <ul class="open-hours">
              <li><span>Mon to Fri:</span> <span class="text-right">08:00AM to 05:00PM</span></li>
              <li><span>Sun:</span> <span class="text-right">Closed</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright start -->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 wow fadeInLeft">Copyright © <%= new Date().getFullYear(); %> <span>Covenant Press &amp; Business Ltd.</span>. All Rights Reserved</div>
        <div class="col-12 col-lg-6 text-right wow fadeInRight">Design &amp; Development By: <a href="https://sperixlabs.org" title="sperixlabs" target="_blank">SPERIXLABS</a></div>
      </div>
    </div>
  </div>
  <!-- copyright end -->
</footer>
