<header class="for-sticky">
 <!-- Header top area start -->
 <div class="header-top-area">
   <div class="container">
     <div class="row">
       <div class="col-12 col-lg-8">
         <div class="top-contact"> <a href="#"><i class="fa fa-envelope"></i> info@covpressgh.com</a> <a href="#"><i class="fa fa-phone"></i> +233 (0)322 496 721</a> <a href="#"><i class="far fa-clock"></i> 08:00AM to 05:00PM</a> </div>
       </div>
       <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end">
         <div class="top-menu">
           <ul>

           </ul>
         </div>
         <div class="language">
           <ul>

           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Header top area End -->

 <!-- Header area start -->
 <div class="header-area">
   <div class="container">
     <!-- Site logo Start -->
     <div class="logo">
        <a href="/" title="JDL Export House">
         <img src="/assets/images/logo.png" style="width: auto; height: 76px;" alt="W-shipping"/>
        </a> 
     </div>
     <!-- Site logo end -->
     <div class="mobile-menu-wrapper"></div>
     <!-- Search Start -->
     <div class="dropdown header-search-bar">
     </div>
     <!-- Search End -->
      
     <!-- Main menu start -->
     <nav class="mainmenu">
       <ul id="navigation">
         <li id="home"><a href="/">Home</a></li>
         <li id="services"><a href="#">Services</a>
            <ul>
              <li><a href="/services">Our Services</a></li>
              <li><a href="/services#portfolio">Our Portfolio</a></li>
            </ul>
         </li>
         <li id="contact-us"><a href="/contact-us">Contact Us</a></li>
       </ul>
     </nav>
     <!-- Main menu end -->
   </div>
 </div>
 <!-- Header area End -->
</header>
