<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | JDL Export House | CMS</title>
    <!-- Favicon-->
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="/cms/css/gfonts.css" rel="stylesheet" type="text/css">
    <link href="/cms/css/material.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/cms/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/cms/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/cms/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/cms/css/style.css" rel="stylesheet">
    <link href="/cms/css/index.css" rel="stylesheet">
</head>

<body class="login-page">
    <%- body %>

    <!-- Jquery Core Js -->
    <script src="/cms/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/cms/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/cms/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/cms/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="/cms/js/admin.js"></script>
    <script src="/cms/js/sign-in.js"></script>
</body>

</html>
