<!-- Slider Start -->
<div class="homepage-slides-wrapper">
  <div class="owl-carousel homepage-slides text-center">
    <!-- Slider item1 start-->
    <div class="single-slide-item slider-overlay slide-bg-1">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="#" class="wshipping-button slide-btn">Welcome to Covenant Press &amp; Business Ltd</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item1 end-->

    <!-- Slider item2 start-->
    <div class="single-slide-item slider-overlay slide-bg-2">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="/services" class="wshipping-button slide-btn">Check out our services</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item2 end-->
    
    <!-- Slider item3 start-->
    <div class="single-slide-item slider-overlay slide-bg-3">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3></h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="/contact-us" class="wshipping-button slide-btn">Contact Us</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item3 end-->
    
    <!-- Slider item4 start-->
    <div class="single-slide-item slider-overlay slide-bg-4">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="/services#portfolio" class="wshipping-button slide-btn">Check out our portfolio</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item4 end-->
  </div>
</div>
<!-- Slider End -->

<!-- About Us start -->
<div class="wshipping-content-block" id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="heading3-border text-uppercase">About Us</h3>
      </div>
      <div class="col-12 col-lg-12">
        <div class="section-body">
          <p>CPBL stands as a trusted and genuine service provider in the printing and publishing sector, and gears towards providing quality services, impressive work efficiency and massive attention to all required tasks.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <h4 class="pacifico1">Vision</h4>
        <p>At CPBL, we desire to become an ultimate and top class service provider in the printing and publishing sector in Ashanti region, and Ghana as a whole. We deem it very necessary to extend our publicity and quality service to the world.</p>

        <h4 class="pacifico1">Mission</h4>
        <p>To accomplish the task of providing the world with the best of excellent services. To provide accurate and faultless service and products to enhance and project the level of productivity and the good name of the company across the whole world. To tackle the needs of our clients at the shortest possible time in a professional manner.</p><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
        <div>
          <img class="service-item-bg" src='/assets/images/partnership.jpg'/>
        </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>CPBL is fortified with a multi-skilled and dedicated human resource, comprising of the Chairman, the Managing Director, the Finance and Administrative Manager, Sales and Marketing Manager, Production Manager, and Graphic Designers not forgetting the technical and administrative staff.<br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
          <div style='border-bottom: 0.5px solid #6f6e6e'>
            <div style='text-align: center'>
              <img class="service-item-bg" src='/assets/images/trade.jpg' style='width: 100%;'/>
            </div>
          </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>CPBL is fortified with modern and enhanced machinery and technology, alongside a strong professional team which aids the company to provide the best of services to meet the standards of all our customers regardless. We serve our customers with the best of at very cool prices - within Kumasi and its environs.<br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
          <div class="service-item-bg">
            <img  class="service-item-bg" style="width: 100%" src='/assets/images/slide-bg-1.jpg'/>
          </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>Our spectacular staff are highly motivated, and focus on the best for the company with the best of passion and professionalism.<br/><br/><br/><br/><br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- About Us End -->


 <script>
    $('#home').addClass('nav-active')
</script>
