<!-- Slider Start -->
<div class="homepage-slides-wrapper">
  <div class="owl-carousel homepage-slides text-center">
    <!-- Slider item1 start-->
    <div class="single-slide-item slider-overlay slide-bg-1">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="#" class="wshipping-button slide-btn">Welcome to Covenant Press &amp; Business Ltd</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item1 end-->

    <!-- Slider item2 start-->
    <div class="single-slide-item slider-overlay slide-bg-2">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Adding Colour to your Imagination</h2>
                <a href="/services" class="wshipping-button slide-btn">Check out our services</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item2 end-->
    
    <!-- Slider item3 start-->
    <div class="single-slide-item slider-overlay slide-bg-3">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3></h3>
                <h2>CPBL.... Never Compromise on Quality</h2>
                <a href="/contact-us" class="wshipping-button slide-btn">Contact Us</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item3 end-->
    
    <!-- Slider item4 start-->
    <div class="single-slide-item slider-overlay slide-bg-4">
      <div class="item-table">
        <div class="item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <h3>&nbsp;</h3>
                <h2>CPBL.... Excellence with a Difference</h2>
                <a href="/services#portfolio" class="wshipping-button slide-btn">Check out our portfolio</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider item4 end-->
  </div>
</div>
<!-- Slider End -->

<!-- About Us start -->
<div class="wshipping-content-block" id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="heading3-border text-uppercase">About Us</h3>
      </div>
      <div class="col-12 col-lg-12">
        <div class="section-body">
          <p><b>Covenant Press and Business Limited (CPBL)</b> is a trusted and genuine service provider in the printing and publishing sector. CPBL has carved a name for itself in view of its innovation and eye for detail. We provide quality services and have impressive work efficiency.</p>
          <p>The Press is highly equipped with enhanced machinery and technology to aid in the execution of orders by customers. Alongside a strong professional team, CPBL ensures that services rendered to customers are done to perfection.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <h4 class="pacifico1 heading3-border text-uppercase">Vision</h4>
        <p>CPBL aims to become recognised as the benchmark of outstanding services in Ghana and beyond.
We pride ourselves on bringing results that count in everything that we do. We are constantly striving for successful outcomes in all areas of our business.</p> 

        <h4 class="pacifico1 heading3-border text-uppercase">Mission</h4>
        <p>The fundamental mission of CPBL is to provide exceptional and quality print services. We deliver on our promises and commitments. We aim at providing these services all within budget and add value to our clients' businesses and daily lives. We are focused on forming successful and lasting relationships with our clients. We value the positive impact made in their lives and in the printing and publishing industry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
        <div>
          <img class="service-item-bg" src='/assets/images/partnership.jpg'/>
        </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>CPBL is fortified with a multi-skilled and dedicated human resource, comprising of the Chairman, the Managing Director, the Finance and Administrative Manager, Sales and Marketing Manager, Production Manager, and Graphic Designers not forgetting the technical and administrative staff.<br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
          <div>
            <div style='text-align: center'>
              <img class="service-item-bg" src='/assets/images/trade.jpg' style='width: 100%;'/>
            </div>
          </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>CPBL is fortified with modern and enhanced machinery and technology, alongside a strong professional team which aids the company to provide the best of services to meet the standards of all our customers regardless. We serve our customers with the best of at very cool prices - within Kumasi and its environs.<br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-item wow fadeInUp">
          <div class="service-item-bg">
            <img  class="service-item-bg" style="width: 100%" src='/assets/images/slide-bg-1.jpg'/>
          </div>
          <div class="service-content">
            <h4>&nbsp;</h4>
            <p>Our spectacular staff are highly motivated, and focus on the best for the company with the best of passion and professionalism.<br/><br/><br/><br/><br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- About Us End -->


 <script>
    $('#home').addClass('nav-active')
</script>
