<!-- Breadcroumbs start -->
<div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
  <div class="container">
    <div class="row">
       <div class="col-12 col-lg-7">
          <h1>Our Services</h1>
          <a href='/' title="Home">Home</a> / Our Services
       </div>
       <div class="col-12 col-lg-5 text-right"><h4></h4></div>
    </div>
  </div>
</div>
<!-- Breadcroumbs end -->

<!-- Service start -->
<div class="wshipping-content-block" id="our-services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="heading3-border text-uppercase">Services</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-4">
        <div class="single-service-item wow fadeInUp">
          <div class="service-item-bg service-bg-1"></div>
          <div class="service-content">
            <h4>Graphic Designing</h4>
            <p>Covenant Press has a creative design team that produces beautiful designs such as posters, bus wraps, billboards, packaging, logos and marketing materials, depending on the industry. We select photos, typefaces and developing layouts for advertisements, annual reports, brochures, magazines, etc.</p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4">
        <div class="single-service-item wow fadeInUp">
          <div class="service-item-bg service-bg-2"></div>
          <div class="service-content">
            <h4>Digital &amp; Offset Printing</h4>
            <p>Covenant Press offers advanced printing solutions that produce stunning quality prints such as Annual Report Books, Newsletters, Certificates, Calendars, Posters, Greeting Cards, Letterheads, Business/Call Cards, Corporate Sationery, Reciept books, Stickers, Signage, Brochures and all kinds of forms.</p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-4">
        <div class="single-service-item wow fadeInUp">
          <div class="service-item-bg service-bg-3"></div>
          <div class="service-content">
            <h4>Book Publishing</h4>
            <p>Book Publishing is all about giving power to creativity. Covenant Press brings to you a simple and hassle-free process to help you publish your words in your way and make it available to millions of readers across the globe.<br/><br/><br/></p>
            <div class="location_map"><i class="fa fa-plus"></i></div>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 30px;" id="portfolio">
      <div class="col-12">
        <h3 class="heading3-border text-uppercase">Portfolio</h3>
      </div>
     <div class="row gallery-group-popup">
        <div class="col-12 col-md-6 col-lg-4 l-gallery-holder">
          <a class="latest-gallery" href="/assets/images/l-gallery1.jpg" data-fancybox="images" title=""><i class="fa fa-search-plus"></i><img src="/assets/images/l-gallery1.jpg" alt=""/></a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 l-gallery-holder">
          <a class="latest-gallery" href="/assets/images/l-gallery2.jpg" data-fancybox="images" title=""><i class="fa fa-search-plus"></i><img src="/assets/images/l-gallery2.jpg" alt=""/></a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 l-gallery-holder">
          <a class="latest-gallery" href="/assets/images/l-gallery3.jpg" data-fancybox="images" title=""><i class="fa fa-search-plus"></i><img src="/assets/images/l-gallery3.jpg" alt=""/></a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Service End -->
<script>
  $('#services').addClass('nav-active')
</script>
